@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

html {
    width: 1400px;
}

body {
    border-radius: 65px 80px;
    float: inline-start;
    position: absolute;
}
.button {
    color: blue;
    border-radius: 5px 32px;
    
}

* {
    display: flex;
}